<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" contente="widht=device-width, initial-scale=1.0">
        <title>DOCUMENT</title>
        <style>
            h1{
                texte-align: center;
            }
            p{
                text-align: justify;
            }
            img{
                max-height: 250px;
                max-width:250px;    
                
            }
            .center{
                display:block;
                margin-left:auto;
                margin-right: auto;
                width: 50%;
            }
        </style>
    </head>
    <body>
        <h1>{{title}}</h1>
        <p>Nuestra Institucion {{Mission}}</p>
        <p>👨‍💻 Nuestros valores que nos conforman son: {{Values}}</p>
        <img src="{{imagenes}}" alt="aleoImage" class="center">
    </body>
</html>

